# vim:filetype=sh

# Author: Brian Wilson <doc@wiltech.org>
# Project: Fulgur
#
# Utility resources for the main build script.
# Some functions in here are heavily based off of
# the 'archiso' project.

# Display an info message
# $1: Message to be displayed
_msg_info() {
    local _msg="${1}"
    echo -e "[FULGUR] INFO: ${_msg}"
}

# Display an error message and exit with status
# $1: Message to be displayed
# $2: Exit code
_msg_error() {
    local _msg="${1}"
    local _error="${2}"

    echo
    echo -e "[FULGUR] ERROR: ${_msg}"
    echo

    exit ${_error}
}

# Run a command only once by creating a lock file
# in the work directory.
_run_once() { 
    if [[ ! -e ${work_dir}/build.${1}_${arch} ]]; then
        $1
        touch ${work_dir}/build.${1}_${arch}
    fi
}

# Install pacman packages to our build directory.
# $*: Packages to be installed
_pacman() {
    _msg_info "**** [PACMAN][${pacman_conf}][${build_dir}]"
    pacstrap -C "${pacman_conf}" -c -d -G -M "${build_dir}" $*
}

# Run a command locally on the system we are building
# $1: Command to be ran
_chroot_run() {
    local _result=$(arch-chroot ${build_dir} ${1})
    _msg_info "**** [CHROOT][${build_dir}]: ${1}"
    _msg_info "**** [RESULT]: ${_result}"

    # Send raw result to stderr in case we need to read it
    echo ${_result} >&2
}
